
@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-danger" role="alert">
     istenmiyen bir hata oluştu nütfen teklar deneyiniz.
</div>

<br />
<a class="btn btn-" asp-area="" asp-controller="Cart" asp-action="Paysend">Bilgileri teklardan yaz</a>
<br />