
@{
    ViewData["Title"] = "SuccessPay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SuccessPay</h1>

<div class="alert alert-success" role="alert">
    Başarı ile ödeme Gerçekleştirirdi Arabanız Özel Olarak En yakın Zamanda Gelcek
</div>

<br />
<a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Alışverişe devam et</a>
<br />