/* _content/EPayCar.WebUI/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-kxh5o5okqb],
*[b-kxh5o5okqb]::after,
*[b-kxh5o5okqb]::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html[b-kxh5o5okqb] {
    font-size: 62.5%;
}

.navbar input[type="checkbox"][b-kxh5o5okqb],
.navbar .hamburger-lines[b-kxh5o5okqb] {
    display: none;
}

.container[b-kxh5o5okqb] {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar[b-kxh5o5okqb] {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container[b-kxh5o5okqb] {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items[b-kxh5o5okqb] {
    order: 2;
    display: flex;
}

.logo[b-kxh5o5okqb] {
    order: 1;
    font-size: 2.3rem;
}

.menu-items li[b-kxh5o5okqb] {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a[b-kxh5o5okqb] {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

    .navbar a:hover[b-kxh5o5okqb] {
        color: #117964;
    }

@media (max-width: 768px) {
    .navbar[b-kxh5o5okqb] {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"][b-kxh5o5okqb],
    .navbar-container .hamburger-lines[b-kxh5o5okqb] {
        display: block;
    }

    .navbar-container[b-kxh5o5okqb] {
        display: block;
        position: relative;
        height: 64px;
    }

        .navbar-container input[type="checkbox"][b-kxh5o5okqb] {
            position: absolute;
            display: block;
            height: 32px;
            width: 30px;
            top: 20px;
            left: 20px;
            z-index: 5;
            opacity: 0;
            cursor: pointer;
        }

        .navbar-container .hamburger-lines[b-kxh5o5okqb] {
            display: block;
            height: 28px;
            width: 35px;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .navbar-container .hamburger-lines .line[b-kxh5o5okqb] {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: #333;
            }

            .navbar-container .hamburger-lines .line1[b-kxh5o5okqb] {
                transform-origin: 0% 0%;
                transition: transform 0.3s ease-in-out;
            }

            .navbar-container .hamburger-lines .line2[b-kxh5o5okqb] {
                transition: transform 0.2s ease-in-out;
            }

            .navbar-container .hamburger-lines .line3[b-kxh5o5okqb] {
                transform-origin: 0% 100%;
                transition: transform 0.3s ease-in-out;
            }

    .navbar .menu-items[b-kxh5o5okqb] {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

        .navbar .menu-items li[b-kxh5o5okqb] {
            margin-bottom: 1.8rem;
            font-size: 1.1rem;
            font-weight: 500;
        }

    .logo[b-kxh5o5okqb] {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items[b-kxh5o5okqb] {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1[b-kxh5o5okqb] {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2[b-kxh5o5okqb] {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3[b-kxh5o5okqb] {
        transform: rotate(-45deg);
    }
}

@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked ~ .logo[b-kxh5o5okqb] {
        display: none;
    }
}
