
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Paneli</h1>

<a asp-area="Admin" asp-controller="Brands" asp-action="Index" class="btn btn-dark">Markaları Yönet</a>

<br />
<br />

<a asp-area="Admin" asp-controller="Cars" asp-action="Index" class="btn btn-dark">Arabaları Yönet</a>


<br />
<br />

<a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="btn btn-dark">Siparişleri/Orders Yönet</a>
